body {
    padding: 10px;
    margin: 1em;
    background: #f6ede9;
    padding: auto;
}
.navbar {
    background:#1d688b;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.navbar-brand:hover {
    color: rgba(0, 65, 5, 0.473)
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content:flex-end;
}

/* CUSTOMIZE MAIN
-------------------------------------------------- */

main {
    margin-top: 1em;
}
.img-fluid {
    padding: 5px;
    
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-top: 1em;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 32rem;
  }
  .page-footer {
    background:#1d688b;
    color: #fff;
}
.container {
    margin-top: 1em;
}
/* CUSTOMIZE Section TITLE
-------------------------------------------------- */

.section-title{
    text-align: center;
    background-image: url("wallpaper/banner.jpg");
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.banner-img {
    height: 8rem;
    width: 100%
}

/* CUSTOMIZE FilterButtnos
-------------------------------------------------- */

.filter-button {
    font-size: 18px;
    border:1px solid goldenrod;
    border-radius: 5px;
    text-align: center;
    color: goldenrod;
    margin-bottom: 30px;
}
.filter-button:hover {
    font-size: 18px;
    border: 1px solid goldenrod;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background-color: goldenrod;
}
.btn-default:active .filter-button:active {
    background-color: goldenrod;
    color: #fff;
    border-color: #1d688b;
}

/* CUSTOMIZE Footer
-------------------------------------------------- */

footer {
    margin-top: 1em;
    padding: .5em;
}

.shadow {
    padding: 10px;
}

.designer {
    background-color:#1d688b;
    color:#fff;
    padding: 15px 0 15px 0;
    margin: 25px 0 25px 0;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
}